version: '3.8'

services:
  postgres:
    image: postgres:13
    container_name: imunno_postgres
    restart: always
    environment:
      POSTGRES_USER: imunno_user
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: imunno_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./postgres-init:/docker-entrypoint-initdb.d
    networks:
      - imunno-net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U imunno_user -d imunno_db"]
      interval: 10s
      timeout: 5s
      retries: 5

  imunno_ml:
    build:
      context: ./imunno-ml-service
    container_name: imunno_ml
    restart: always
    ports:
      - "5000:5000"
    volumes:
      - ./imunno-ml-service:/app
    networks:
      - imunno-net

  imunno_collector:
    build:
      context: ./imunno-collector
    container_name: imunno_collector
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
      imunno_ml:
        condition: service_started
    environment:
      ENABLE_QUARANTINE: "true"
      DB_URL: "postgres://imunno_user:${DB_PASSWORD}@postgres:5432/imunno_db?sslmode=disable"
      ML_SERVICE_URL: "http://imunno_ml:5000"
    ports:
      - "8080:8080"
    networks:
      - imunno-net

  imunno_web_server:
    build: ./imunno-web-server
    container_name: imunno_web_server
    restart: always
    ports:
      - "8081:80"
    volumes:
      - uploads_volume:/app/uploads
    networks:
      - imunno-net

  imunno_agent:
    build:
      context: ./imunno-agent
    container_name: imunno_agent
    restart: always
    depends_on:
      - imunno_collector
    environment:
      COLLECTOR_URL: "ws://imunno_collector:8080/ws"
      AGENT_ID: "docker-agent-001"
      AGENT_WATCH_DIR: "/app/uploads" 
      AGENT_QUARANTINE_DIR: "/app/quarantine"
    volumes:
      - uploads_volume:/app/uploads
      - ./imunno-agent/quarantine:/app/quarantine
      - ./audit/audit.log:/var/log/audit/audit.log
    cap_add:
      - AUDIT_WRITE
      - AUDIT_CONTROL
    networks:
      - imunno-net
  
  # --- Ferramentas e Jupyter (Só iniciam se você pedir explicitamente) ---
  
  jupyter:
    image: jupyter/scipy-notebook:latest
    container_name: imunno_jupyter
    profiles: ["debug"] # <--- ISSO impede ele de iniciar sozinho
    ports:
      - "8888:8888"
    volumes:
      - ./imunno-ml-service:/home/jovyan/work
    networks:
      - imunno-net
    environment:
      JUPYTER_ENABLE_LAB: "yes"

volumes:
  pgdata:
  uploads_volume:

networks:
  imunno-net:
    driver: bridge